<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.liferay.ide.eclipse.server.tomcat.60.launchConfigurationType">
<stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="UTF-8"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-6-openjdk-amd64&quot; path=&quot;2&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/opt/lf60/liferay-portal-6.0.6/tomcat-6.0.29/bin/bootstrap.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/usr/lib/jvm/java-6-openjdk-amd64/lib/tools.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-6-openjdk-amd64"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="start"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Duser.timezone=GMT -Dfile.encoding=UTF8 -Dorg.apache.catalina.loader.WebappClassLoader.ENABLE_CLEAR_REFERENCES=false -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager -Djava.security.auth.login.config=&quot;/opt/lf60/liferay-portal-6.0.6/tomcat-6.0.29/conf/jaas.config&quot; -Djava.util.logging.config.file=&quot;/opt/lf60/liferay-portal-6.0.6/tomcat-6.0.29/conf/logging.properties&quot; -Djava.io.tmpdir=&quot;/opt/lf60/liferay-portal-6.0.6/tomcat-6.0.29/temp&quot; -Dexternal-properties=&quot;/opt/lf60/liferay-portal-6.0.6/portal-ide.properties&quot; -Dcatalina.base=&quot;/opt/lf60/liferay-portal-6.0.6/tomcat-6.0.29&quot; -Dcatalina.home=&quot;/opt/lf60/liferay-portal-6.0.6/tomcat-6.0.29&quot; -Dwtp.deploy=&quot;/opt/lf60/liferay-portal-6.0.6/tomcat-6.0.29/webapps&quot; -Djava.endorsed.dirs=&quot;/opt/lf60/liferay-portal-6.0.6/tomcat-6.0.29/endorsed&quot; -Xmx1024m -XX:MaxPermSize=256m"/>
<stringAttribute key="server-id" value="Liferay v6.0 CE Server (Tomcat 6) at localhost"/>
</launchConfiguration>
